# Note this file was used for Apache 1.3.0
# Please see the readme, for what exactly the config variables do.

# .asp files for Session state enabled
AuthName TestRealm
AuthType Basic
#ErrorDocument 401 "Bad Auth
PerlSetVar DynamicIncludes 1

<Files ~ (\.xml)>
	SetHandler perl-script
	PerlHandler Apache::ASP
	PerlSetVar Debug  0
	PerlSetVar NoState 1 
	PerlSetVar XSLT template.xsl
	PerlSetVar XSLTCacheSize 10
</Files>


<Files ~ (\.asp)>
	SetHandler perl-script
	PerlHandler Apache::ASP
	PerlSetVar Global  .		
#	PerlSetVar Debug  -1
	PerlSetVar Debug  -2
	PerlSetVar CollectionItem 1
	PerlSetVar CookiePath  /	
	PerlSetVar SessionTimeout .5
	PerlSetVar StateDir  ./.state
#	PerlSetVar UniquePackages 1
#	PerlSetVar SessionQuery 1
#	PerlSetVar SessionQueryMatch asp$
#	PerlSetVar SessionQueryParse 1
#	PerlSetVar SessionQueryParseMatch on
#	PerlSetVar UseStrict 1
	PerlSetVar FileUploads 0
	PerlSetVar StatINC 1
#	PerlSetVar StatINCMatch 0
	PerlSetVar XMLSubsMatch my:\w+|Apps:\w+|msg
	PerlSetVar GlobalPackage DemoASP
	PerlSetVar MailErrorsTo joshua@chamas.com,admin@chamas.com
	PerlSetVar MailAlertTo joshua@chamas.com,admin@chamas.com
	PerlSetVar MailHost proxy.nodeworks.com	
</Files>

# .htm files for the ASP parsing, but not the $Session object
# AllowSessionState 0 turns Session state off
<Files ~ (\.htm|\.inc)>
	SetHandler perl-script
	PerlHandler Apache::ASP
	PerlSetVar Debug  -2
	PerlSetVar Global  .		
	PerlSetVar NoState 1 
	PerlSetVar BufferingOn 1
#	PerlSetVar DynamicIncludes 1
#	PerlSetVar CgiHeaders 1
</Files>

# .ssi for full ssi support, with Apache::Filter
<Files ~ (\.ssi)>
	PerlModule Apache::Filter
	SetHandler perl-script
	PerlHandler Apache::SSI Apache::ASP
	PerlSetVar Filter On
	PerlSetVar Debug  2
</Files>

<Files ~ (\.auth)>
	AuthName MyRealm
	AuthType Basic
	require valid-user
	AuthUserFile auth_passwd
	SetHandler perl-script
	PerlHandler Apache::ASP
	PerlSetVar Debug  2
	PerlSetVar Global auth
	PerlSetVar SessionTimeout 1
</Files>
