

<html>
<head>
<title>Apache :: ASP :: SYNTAX</title>



</head>
<body bgcolor=#bb4488 link=#003090 alink=#ff5599 vlink=#993399 
 marginheight=0 marginwidth=0 leftMargin=0 topMargin=0>





<table border=0 cellpadding=0 cellspacing=0 width=100%>
<tr bgcolor=#ff4488>
<td colspan=2>
	<table border=0 cellpadding=5 cellspacing=0 width=100%>
	<tr>
	<td><img border=0 src=apache_asp.gif alt="Apache :: ASP"></td>	
	
		<td align=right></td>
	
	</tr>
	</table>
</td>
</tr>
</table>

<table border=0 cellpadding=8 cellspacing=0 height=90% width=100%>
<tr>
<td valign=top width=100 bgcolor=#c0c0c0>
	<table border=0 cellpadding=0 cellspacing=0 width=100>

	
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=index.html style=text-decoration:none><font color=#003090>INTRO</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=install.html style=text-decoration:none><font color=#003090>INSTALL</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=config.html style=text-decoration:none><font color=#003090>CONFIG</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>%</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><font color=#993399>SYNTAX</font></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=events.html style=text-decoration:none><font color=#003090>EVENTS</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=objects.html style=text-decoration:none><font color=#003090>OBJECTS</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=ssi.html style=text-decoration:none><font color=#003090>SSI</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=sessions.html style=text-decoration:none><font color=#003090>SESSIONS</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=xml.html style=text-decoration:none><font color=#003090>XML/XSLT</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=cgi.html style=text-decoration:none><font color=#003090>CGI</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=perlscript.html style=text-decoration:none><font color=#003090>PERLSCRIPT</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=faq.html style=text-decoration:none><font color=#003090>FAQ</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=tuning.html style=text-decoration:none><font color=#003090>TUNING</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=kudos.html style=text-decoration:none><font color=#003090>CREDITS</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=support.html style=text-decoration:none><font color=#003090>SUPPORT</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=sites.html style=text-decoration:none><font color=#003090>SITES USING</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=resources.html style=text-decoration:none><font color=#003090>RESOURCES</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=todo.html style=text-decoration:none><font color=#003090>TODO</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=changes.html style=text-decoration:none><font color=#003090>CHANGES</font></a></nobr></b></font></td>		

		</tr>
		<tr><td colspan=2><hr size=1></td></tr>
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=#c0c0c0><font face="verdana,arial" size=-1><b><nobr><a href=eg/index.html style=text-decoration:none><font color=#003090>EXAMPLES</font></a></nobr></b></font></td>		

		</tr>
		
	<tr>
		<td align=center colspan=2>
		<hr size=1>
		<center>
		<a href=http://www.nodeworks.com/asp/><img 
			src=powered_by_apache_asp.jpg border=0
			alt="Powered by Apache::ASP"
			></a>
		<br>
		<a href=http://perl.apache.org><img 
			src=powered_by_modperl.gif border=0
			alt="Powered by ModPerl and Apache"
			></a>
		<br>
		<a href=http://www.nodeworks.com/partner.htm?partner_id=apacheasp><img 
			src=nodecheck_button.gif border=0
			alt="Links Checked by NodeWorks"
			></a>
		</center>
		<hr size=1>
		</td>
	</tr>
	</table>
</td>



<td valign=top bgcolor=white>
<font size=-1 face=verdana>

<font face=verdana><font size=+1 color=#555555><b>SYNTAX</b></font><p>
<font face="lucida console,courier new" size=3><pre>
</pre></font>ASP embedding syntax allows one to embed code in html in 2 simple ways.
The first is the <% xxx %> tag in which xxx is any valid perl code.
The second is <%= xxx %> where xxx is some scalar value that will
be inserted into the html directly.  An easy print.
<font face="lucida console,courier new" size=3><pre>
  A simple asp page would look like:

  &lt;!-- sample here --&gt;
  &lt;html&gt;
  &lt;body&gt;
  For loop incrementing font size: &lt;p&gt;
  &lt;% for(1..5) { %&gt;
	&lt;!-- iterated html text --&gt;
	&lt;font size=&quot;&lt;%=$_%&gt;&quot; &gt; Size = &lt;%=$_%&gt; &lt;/font&gt; &lt;br&gt;
  &lt;% } %&gt;
  &lt;/body&gt;
  &lt;/html&gt;
  &lt;!-- end sample here --&gt;
</pre></font>Notice that your perl code blocks can span any html.  The for loop
above iterates over the html without any special syntax.</font>

</font>
</td>
</tr>
<tr bgcolor=#555555>
	<td colspan=2 align=center width=80%>
	<font face=verdana color=white size=-1>
	Copyright &copy; 1998-2000, Joshua Chamas, 
	<a href=http://www.chamas.com><font color=white>Chamas Enterprises Inc.</font></a>
	</font>
	</td>
</tr>
</table>
</body>
</html>
