

<html>
<head>
<title>Apache :: ASP :: XML/XSLT</title>



</head>
<body bgcolor=black link=#063678 alink=#ff5599 vlink=#993399
marginheight=0 marginwidth=0 leftMargin=0 topMargin=0>




<center>
<table border=0 cellpadding=0 width=98% cellspacing=8>
<tr><td align=center>

<table border=0 cellpadding=3 width=100% cellspacing=0>
<tr bgcolor=#063678>
<td>
	<table border=0 cellpadding=1 cellspacing=0 width=100%>
	<tr>
	<td><img border=0 src=asptitlelogo.gif alt="Apache :: ASP"></td>	
	
		<td align=right></td>
	
	</tr>
	</table>
</td>
</tr>
<tr>
  <td bgcolor=#005196 align=center>
    <b>
    <font size=-1 face=verdana color=#f0e800>Web applications with Apache + mod_perl</font>  
    </b>
  </td>
</tr>
</table>

<table border=0 cellpadding=10 cellspacing=0 width=100% bgcolor=#005196>
<tr>
<td valign=top width=120 bgcolor=#005196>
    
        <table cellpadding=5 cellspacing=0 border=1 bgcolor=white><tr><td>

	<table border=0 cellpadding=0 cellspacing=0 width=105 bgcolor=white>
	
	
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=index.html style=text-decoration:none><font color=#063678>INTRO</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=install.html style=text-decoration:none><font color=#063678>DOWNLOAD</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=config.html style=text-decoration:none><font color=#063678>CONFIG</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=syntax.html style=text-decoration:none><font color=#063678>SYNTAX</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=events.html style=text-decoration:none><font color=#063678>EVENTS</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=objects.html style=text-decoration:none><font color=#063678>OBJECTS</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=ssi.html style=text-decoration:none><font color=#063678>SSI</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=sessions.html style=text-decoration:none><font color=#063678>SESSIONS</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>%</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><font color=#993399>XML/XSLT</font></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=cgi.html style=text-decoration:none><font color=#063678>CGI</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=perlscript.html style=text-decoration:none><font color=#063678>PERLSCRIPT</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=faq.html style=text-decoration:none><font color=#063678>FAQ</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=tuning.html style=text-decoration:none><font color=#063678>TUNING</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=kudos.html style=text-decoration:none><font color=#063678>CREDITS</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=support.html style=text-decoration:none><font color=#063678>SUPPORT</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=sites.html style=text-decoration:none><font color=#063678>SITES USING</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=resources.html style=text-decoration:none><font color=#063678>RESOURCES</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=todo.html style=text-decoration:none><font color=#063678>TODO</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=changes.html style=text-decoration:none><font color=#063678>CHANGES</font></a></nobr></b></font></td>		

		</tr>
		
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=license.html style=text-decoration:none><font color=#063678>LICENSE</font></a></nobr></b></font></td>		

		</tr>
		<tr><td colspan=2><hr size=1></td></tr>
		<tr>

		<td><font size=-2 face="verdana" color=#993399><b><nobr>&nbsp;</nobr></b></font></td>

		<td bgcolor=white><font face="verdana,arial" size=-1><b><nobr><a href=eg/index.html style=text-decoration:none><font color=#063678>EXAMPLES</font></a></nobr></b></font></td>		

		</tr>
		
	</table>

	</td></tr>
	</table>

		<br>
		<center>
		<a href=http://www.nodeworks.com/asp/><img 
			src=powered_by_apache_asp.jpg border=0
			alt="Powered by Apache::ASP"
			></a>
		<br>
		<a href=http://perl.apache.org><img 
			src=powered_by_modperl.gif border=0
			alt="Powered by ModPerl and Apache"
			></a>
		<br>
		<a href=http://www.nodeworks.com/partner.htm?partner_id=apacheasp><img 
			src=nodecheck_button.gif border=0
			alt="Links Checked by NodeWorks"
			></a>
		</center>


</td>



<td valign=top bgcolor=white>
<font size=+0 face=verdana,arial>

<font face=verdana><font size=+1 color=#555555><b>XML/XSLT</b></font><p>
</font>

	<hr size=1>
	<table width=100% border=0 cellpadding=1 cellspacing=3>
	<tr>
	<td valign=top><font face="lucida console" size=-1>
	<ul>
	
		<tr>
		
			<td valign=top >
			<font face="lucida console" size=-1>
			<a href=#Custom%20Tags%20with%20XMLSubsMatch>Custom Tags with XMLSubsMatch</a>
			</font>
			</td>
		
			<td valign=top >
			<font face="lucida console" size=-1>
			<a href=#Reference%20OSS%20Implementations>Reference OSS Implementations</a>
			</font>
			</td>
							
		</tr>
		
		<tr>
		
			<td valign=top >
			<font face="lucida console" size=-1>
			<a href=#XSLT%20Tranformations>XSLT Tranformations</a>
			</font>
			</td>
		<td>&nbsp;</td>					
		</tr>
			
	</table>
	<hr size=1>
	<p>

	<p>
	<a name=Custom%20Tags%20with%20XMLSubsMatch></a>
	<font face=verdana><font size=+0 color=#555555><b>Custom Tags with XMLSubsMatch</b></font><p>
<font face="lucida console,courier new" size=3><pre>
</pre></font>Before XML, there was the need to make HTML markup smarter.
Apache::ASP gives you the ability to have a perl
subroutine handle the execution of any predefined tag,
taking the tag descriptors, and the text contained between,
as arguments of the subroutine.  This custom tag
technology can be used to extend a web developer's abilities
to add dynamic pieces without having to visibly use
&lt;% %&gt; style code entries.
<font face="lucida console,courier new" size=3><pre>
</pre></font>So, lets say that you have a table that
you want to insert for an employee with contact
info and the like, you could set up a tag like:
<font face="lucida console,courier new" size=3><pre>
 &lt;my:employee name=&quot;Jane&quot; last=&quot;Doe&quot; phone=&quot;555-2222&quot;&gt;
   Jane Doe has been here since 1998.
 &lt;/my:employee&gt;
</pre></font>To render it with a custom tag, you would tell
the Apache::ASP parser to render the tag with a
subroutine:
<font face="lucida console,courier new" size=3><pre>
  PerlSetVar XMLSubsMatch my:employee
</pre></font>Any colons, ':', in the XML custom tag will turn
into '::', a perl package separator, so the my:employee
tag would translate to the my::employee subroutine, or the
employee subroutine in the my package.
<font face="lucida console,courier new" size=3><pre>
</pre></font>Then you would create the my::employee subroutine in the my
perl package or whereever like so
<font face="lucida console,courier new" size=3><pre>
  sub my::employee {
    my($attributes, $body) = @_;
    $Response-&gt;Include('employee.inc', $attributes, $body);
  }

  &lt;!-- # employee.inc file somewhere else --&gt;
  &lt;% my($attributes, $body) = @_; %&gt;
  <table> <% for('name', 'last', 'phone') { %> <tr> <td><b><%=ucfirst $_ %></b>:</td> <td><%= $attributes->{$_} %></td> </tr> <% } %> <tr><td colspan=2><%= $body %></td></tr> </table>
  &lt;!-- # end employee.inc file --&gt;
</pre></font>The $Response-&gt;Include() would then delegate the rendering
of the employee to the employee.inc ASP script include.
<font face="lucida console,courier new" size=3><pre>
</pre></font>Though XML purists would not like this custom tag technology
to be related to XML, the reality is that a careful
site engineer could render full XML documents with this
technology, applying all the correct styles that one might
otherwise do with XSLT.
<font face="lucida console,courier new" size=3><pre>
</pre></font>Custom tags defined in this way can be used as XML tags
are defined with both a body and without as it
<font face="lucida console,courier new" size=3><pre>
  &lt;my:employee&gt;...&lt;/my:employee&gt;
</pre></font>and just
<font face="lucida console,courier new" size=3><pre>
  &lt;my:employee/&gt;
</pre></font>These tags are very powerful in that they can also
enclose normal ASP logic, like:
<font face="lucida console,courier new" size=3><pre>
  &lt;my:employee&gt;
    &lt;!-- normal ASP logic --&gt;
    &lt;% my $birthday = &amp;HTTP::Date::time2str(time - 25 * 86400 * 365); %&gt;

    &lt;!-- ASP inserts --&gt;
    This employee has been online for &lt;%= int(rand()*600)+1 %&gt;
    seconds, and was born near &lt;%= $birthday %&gt;.
  &lt;/my:employee&gt;
</pre></font>For an example of this custom XML tagging in action, please check
out the <a href=eg/xml_subs.asp>./site/eg/xml_subs.asp</a> script.  Note the one limitation
that currently exists is that tags of the same name may not
be used in each other, but otherwise customs tags may
be used in other custom tags.</font>
	
	<p>
	<a name=XSLT%20Tranformations></a>
	<font face=verdana><font size=+0 color=#555555><b>XSLT Tranformations</b></font><p>
<font face="lucida console,courier new" size=3><pre>
</pre></font>XML is good stuff, but what can you use it for? The principle is
that by having data and style separated in XML and XSL files, you
can reformat your data more easily in the future, and you
can render your data in multiple formats, just as easily
as for your web site, so you might render your site to
a PDA, or a cell phone just as easily as to a browser, and all
you have to do is set up the right XSL stylesheets to do the
transformation (XSLT).
<font face="lucida console,courier new" size=3><pre>
</pre></font>In the first release of <a href=xml.html><font size=-1 face=verdana><b>XML/XSLT</b></font></a> support, ASP scripts may be the
source of XML data that the XSL file transforms, and the XSL file
itself will be first executed as an ASP script also.  The XSLT
transformation is handled by <a href=http://xmlxslt.sourceforge.net/><font size=-1 face=verdana><b>XML::XSLT</b></font></a>, a perl module, and you can
see an example of it in action at the <a href=eg/xslt.xml>./site/eg/xslt.xml</a> XML script.
Because both the XML and XSL datasources are executed first
<font face="lucida console,courier new" size=3><pre>
</pre></font>To specify a XSL stylesheet, use the setting:
<font face="lucida console,courier new" size=3><pre>
  PerlSetVar XSLT template.xsl
</pre></font>where template.xsl could be any file.  By default this will
XSLT transform all ASP scripts so configured, but you can separate xml
scripts from the rest with the setting:
<font face="lucida console,courier new" size=3><pre>
  PerlSetVar XSLTMatch xml$
</pre></font>where all files with the ending xml would undergo a XSLT transformation.
XSLT tranformations are slow however, so to cache XSLT transformations
from XML scripts with consistent output, turn on caching:
<font face="lucida console,courier new" size=3><pre>
  PerlSetVar XSLTCacheSize 100
</pre></font>which would allow for the output of 100 transformations to
be cached.  If the XML data is consistently different as
it might be if it were database driven, then the caching
will have little effect, but for mostly static pages like
real XML docs, this will be a huge win.
<font face="lucida console,courier new" size=3><pre>
</pre></font>Note that XSLT depends on the installation of XML::XSLT,
which in turn depends on XML::DOM, and XML::Parser.  The caching
feature depends on Tie::Cache being installed.</font>
	
	<p>
	<a name=Reference%20OSS%20Implementations></a>
	<font face=verdana><font size=+0 color=#555555><b>Reference OSS Implementations</b></font><p>
<font face="lucida console,courier new" size=3><pre>
</pre></font>For their huge ground breaking XML efforts, these other XML OSS
projects need mention:
<font face="lucida console,courier new" size=3><pre>
  Cocoon - XML-based web publishing, in Java
  <a href=http://xml.apache.org/cocoon/>http://xml.apache.org/cocoon/</a>

  AxKit - XML web publishing with Apache &amp; <a href=http://perl.apache.org><font size=-1 face=verdana><b>mod_perl</b></font></a>
  <a href=http://www.axkit.org/>http://www.axkit.org/</a>

  <a href=http://xmlxslt.sourceforge.net/><font size=-1 face=verdana><b>XML::XSLT</b></font></a> - Core engine that Apache::ASP uses for XSLT
  <a href=http://xmlxslt.sourceforge.net/>http://xmlxslt.sourceforge.net/</a> </pre></font>
	

</font>
</td>
</tr>
<tr bgcolor=#063678>
	<td colspan=2 align=center width=80%>
	<font face=verdana color=white size=-1>
	Copyright &copy; 1998-2000, Joshua Chamas, 
	<a href=http://www.chamas.com><font color=white>Chamas Enterprises Inc.</font></a>
	</font>
	</td>
</tr>
</table>

</td></tr>
</table>
</center>

</body>
</html>
