# Note this file was used for Apache 1.3.0
# Please see the readme, for what exactly the config variables do.

# .asp files for Session state enabled
<Files ~ (\.asp)>
	SetHandler perl-script
	PerlHandler Apache::ASP
	PerlSetVar Global  .		
	PerlSetVar Debug  2		
	PerlSetVar CookiePath  /	
	PerlSetVar SessionTimeout  .5	
	PerlSetVar AllowSessionState  1
	PerlSetVar StatINC 1
</Files>

# .htm files for the ASP parsing, but not the $Session object
# AllowSessionState 0 turns Session state off
<Files ~ (\.htm)>
	SetHandler perl-script
	PerlHandler Apache::ASP
	PerlSetVar Debug  2		
	PerlSetVar CookiePath  /	
	PerlSetVar Global  .		
	PerlSetVar NoState 1
	PerlSetVar BufferingOn 0
</Files>
